@use "../themes/default" as *;

.app {
    background-size: cover;
    background-blend-mode: darken;
    background-position-y: center;
    display: grid;
    min-height: 100vh;
    z-index: 0;
    max-width: 1200px;
}