@use "../themes/default" as *;

.app {
    // background: url("");
    background-size: cover;
    background-blend-mode: darken;
    background-position-y: center;
    display: grid;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    z-index: 0;
}