@use "../themes/default" as *;
@use "../utils" as *;


.listContacts{
    font-family: 'Overpass', sans-serif;
    color: $background;
    display: relative;
    #contact-triangle{
        width: 0;
        height: 0;
        border-right: 100vw solid transparent;
        border-bottom: 3rem solid $primary;
        background: $background;
    }
    h3{
        text-align: center;
        background: $primary;
        font-size: 3rem;
        padding-top: 4rem;
        font-family: 'Alfa Slab One', cursive;
    }
    .contacts{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        text-align: center;

        background: $primary;

        p{
            margin-top: 1.5rem;
            font-size: 1.25rem;
            margin-left: 5%;
            margin-right: 5%;
            text-align: center;
        }
        li{
            font-size: 1.5rem;
            font-weight: bold;
            margin: .25rem;
            margin-left: 5%;
            margin-right: 5%;
        }
        #needTop{
            margin-top: 2rem;
        }
        #needBottom{
            margin-bottom: 6.5rem;
        }
    }
}