@use "../themes/default" as *;
@use "../utils" as *;


.listContacts{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $background;
    width: 95vw;
    display: relative;
    #contact-triangle{
        width: 0;
        height: 0;
        border-right: 140vw solid transparent;
        border-bottom: 3rem solid $primary;
        background: $background;
        position: absolute;
        right: 0rem;
    }
    h3{
        width: 98.9vw;
        text-align: center;
        background: $primary;
        font-size: 3rem;
        padding-top: 4rem;
    }
    .contacts{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        text-align: center;
        width: 98.9vw;

        background: $primary;

        p{
            margin-top: 1.5rem;
            font-size: 1.25rem;
            margin-left: 5%;
            margin-right: 5%;
            text-align: center;
        }
        li{
            //display: flex;
            font-size: 1.5rem;
            font-weight: bold;
            margin: .25rem;
            margin-left: 10%;
            margin-right: 10%;
        }
        #needTop{
            margin-top: 2rem;
        }
        #needBottom{
            margin-bottom: 6.5rem;
        }
    }
}