@use "../themes/default" as *;
@use "../utils" as *;

footer{ 
    font-family: sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

    padding: 1rem;
    background-color: $background;
    color: $primary-dark;
    
    #foot-triangle{
        width: 0;
        height: 0;
        border-left: 140vw solid transparent;
        border-bottom: 4rem solid $background;
        background: $primary;
        position: absolute;
        top: -3.5rem;
        right: 0;
    }

    h2{
        margin: 10px 0 0;
        font-weight: bold;
    }
    ul{
        margin: 5px 0 5px;
    }
    img{
        width: 55px;
        margin: 10px 0 5px;
    }

    .image-credits{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 1%;
        align-items: center;
    }
}