@use "../themes/default" as *;
@use "../utils" as *;



.photos{
    font-family: sans-serif;
    background: $background;
    h3{
        text-align: center;
        background: $background;
        color: $primary-dark;
        font-size: 3rem;
        padding: 1rem;
    }

    .gallery-grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        grid-gap: .5rem;
        padding-bottom: 1.5rem;

        background: $background;

        .row{
            display: flex;
            flex-direction: row;
            width: 80%;
            //flex: 25%;
            grid-gap: .5rem;
        }
        // display: grid;
        // //🌵 grid stuff 🌵
        // grid-template-columns: auto auto;
        // grid-template-rows: auto auto;
        // #img-big1square{
        //     grid-area: big1
        // }
        // #img-big2square{
        //     grid-area: big2
        // }
        // #img-square1{
        //     grid-area: one
        // }
        // #img-square2{
        //     grid-area: two
        // }
        // #img-long{
        //     grid-area: long
        // }
        // grid-template-areas: 
        // "big1 big1 one"
        // "long long long"
        // "two big2 big2";

        // justify-items: center;
        // place-items: center stretch;
        // grid-gap: .5%;
        // margin: 1%;
        // margin-left: 10%;
        // margin-right: 10%;
    }
    
}