@use "../themes/default" as *;
@use "../utils" as *;



.photos{
    font-family: 'Alfa Slab One', cursive;
    background: $background;
    position: relative;
    margin-top: 4rem;

    #foot-triangle{
        width: 0;
        height: 0;
        //border-left: 60px solid transparent;
        border-left: 120vw solid transparent;
        border-bottom: 5rem solid $background;
        background: $primary-dark;
        position: absolute;
        top: -4rem;
        right: 0;
    }

    h3{
        text-align: center;
        background: $background;
        color: $primary-dark;
        font-size: 3rem;
        padding: 1rem;
        //margin-top: 10rem;
    }

    .gallery-mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-gap: .5rem;
        padding-bottom: 1.5rem;
        max-width: 95%;
        margin-left: 1rem;
        margin-right: 1rem;

        background: $background;

        .cols{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            grid-gap: .5rem;
            width: 90%;
            img{
                box-shadow: $background-dark 5px 5px 5px;
            }
            .row1{
                display: flex;
                flex-direction: column;
                align-items: center;
                grid-gap: .5rem;
                //width: 90%;
            }
            .row2{
                display: flex;
                flex-direction: column;
                align-items: center;
                grid-gap: .5rem;
            }
        }
        .row3{
            display: flex;
            align-items: center;
            width: 90%;
            #img-long{
                min-width: 100%;
            }
        }
    }
    .gallery-desk{
        display: none;
    }
}

@media screen and (min-width: 1050px){
.photos{
    .gallery-mobile{
        display: none;
    }
    .gallery-desk{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-gap: .5rem;
        .pic1{
            display: flex;
            grid-gap: .5rem;
        }
        .pics2{
            display: flex;
            grid-gap: .5rem;
        }
    }
        /*grid-gap: 1rem;

        .cols{
            grid-gap: 1rem;
            
            .row1{
                grid-gap: 1rem;
                #big1square{
                    height: 1000px;
                    width: 100%;
                }
            }
            .row2{
                grid-gap: 1rem;
            }
        }
        .row3{
            width: 73.25%;
        }
    }*/
}
}