@use "../themes/default" as *;
@use "../utils" as *;

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: .75rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    background-color: $primary-dark;
    font-size: 1.25rem;
    font-family: sans-serif;
    color: #eee;

    .nav-branding {
        @include Flex-Center;
        gap: 1rem;

        .logo {
            width:  2.5rem;
            height: 2.5rem;
            background-color: $primary-light;
            border-radius: 50%;
        }
    }

    .links {
        @include Flex-Center;
        gap: 3rem;
        padding: 0 3.5rem;
    }
}