*, *::after, *::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  max-width: 100vw;
  min-height: 100vh;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

summary {
  display: list-item;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

img {
  border-style: none;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

del {
  text-decoration: line-through;
}

abbr[title],
defs[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  overflow: visible;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
  font-family: monospace, monospace;
  font-size: 1em;
}

input,
select {
  vertical-align: middle;
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

select,
input,
textarea {
  font-size: 99%;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.ie7 input[type=checkbox] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

button,
input[type=button] {
  width: auto;
  overflow: hidden;
}

a {
  background-color: transparent;
}

small {
  font-size: 85%;
}

b,
strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
}

body {
  overflow-x: hidden;
}

.app {
  background-size: cover;
  background-blend-mode: darken;
  background-position-y: center;
  display: grid;
  min-height: 100vh;
  z-index: 0;
  max-width: 1200px;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 4.5rem;
  padding: 0.75rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b2402e;
  font-size: 1.5rem;
  font-family: sans-serif;
  color: #eee;
  z-index: 99;
}
nav .nav-branding {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav .nav-branding .logo {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #cf5744;
  border-radius: 50%;
}
nav .links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 0 3.5rem;
}
nav .nav-toggle {
  display: none;
}
nav .nav-toggle .hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 2rem;
  height: 100%;
}
nav .nav-toggle .hamburger .slice {
  height: 0.25rem;
  width: 100%;
  background-color: #eee;
}
nav .nav-toggle .cross {
  display: grid;
  grid-template-columns: 1fr;
  width: 2rem;
  height: 100%;
}
nav .nav-toggle .cross .slice {
  height: 0.25rem;
  width: 100%;
  background-color: #eee;
}
nav .nav-toggle .cross .slice:nth-of-type(1) {
  grid-row: 1/2;
  grid-column: 1/2;
  transform: translate(0, 0.75rem) rotate(45deg);
}
nav .nav-toggle .cross .slice:nth-of-type(2) {
  display: none;
}
nav .nav-toggle .cross .slice:nth-of-type(3) {
  grid-row: 1/2;
  grid-column: 1/2;
  transform: translate(0, 0.75rem) rotate(-45deg);
}

.nav-dropdown {
  width: 100vw;
  height: 100vh;
  background-color: #f8f5ed;
  padding: 3rem;
}
@media screen and (min-width: 871px) {
  .nav-dropdown {
    display: none;
  }
}
.nav-dropdown.hide {
  display: none;
}
.nav-dropdown.show {
  position: fixed;
  z-index: 98;
}
.nav-dropdown .links {
  font-size: 3rem;
  font-family: sans-serif;
  color: #17292E;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.nav-dropdown .links li a {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-dropdown .links li a .icon {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #ABA8A7;
}

@media screen and (max-width: 1055px) {
  nav {
    padding: 0.5rem 1rem;
  }
  nav .links {
    padding: 0;
    gap: 2rem;
  }
}
@media screen and (max-width: 764px) {
  nav {
    font-size: 1.5rem;
  }
  nav .links {
    display: none;
  }
  nav .nav-toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
  }
}
@media screen and (max-width: 471px) {
  nav .nav-branding {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
  }
  nav .nav-branding .logo {
    width: 1.75rem;
    height: 1.75rem;
  }

  .nav-dropdown {
    padding: 2rem;
  }
  .nav-dropdown .links {
    font-size: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .nav-dropdown .links li a {
    font-weight: bold;
  }
}
.services {
  background-color: #b2402e;
  font-family: sans-serif;
  position: relative;
  z-index: 3;
}
.services h2 {
  font-size: 3rem;
  color: #eee;
  text-align: center;
}
.services .description {
  color: #17292E;
  display: flex;
  padding: 5%;
  gap: 2.5%;
}
.services .description .service-section {
  width: 50%;
  background-color: #F1EADA;
  padding: 2.5%;
  display: flex;
  gap: 2rem;
  border-radius: 0.5rem;
}
.services .description .service-section .info {
  width: 65%;
}
.services .description .service-section .info h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3.5%;
}
.services .description .service-section .info p {
  font-size: 1.5rem;
}
.services .description .service-section .img-container {
  overflow: hidden;
  width: 35%;
}
.services .description .service-section .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1129px) {
  .services .description .service-section .info h3 {
    font-size: 1.5rem;
  }
  .services .description .service-section .info p {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 994px) {
  .services .description {
    flex-direction: column;
    gap: 1rem;
  }
  .services .description .service-section {
    width: 100%;
    height: 25%;
  }
  .services .description .service-section .info {
    width: 50%;
  }
  .services .description .service-section .info h3 {
    font-size: 1.5rem;
  }
  .services .description .service-section .info p {
    font-size: 1.25rem;
  }
  .services .description .service-section .img-container {
    width: 50%;
  }
  .services .description .service-section .img-container img {
    max-height: 20vw;
  }
}
@media screen and (max-width: 725px) {
  .services .description .service-section {
    flex-direction: column;
  }
  .services .description .service-section .info {
    width: 100%;
  }
  .services .description .service-section .info h3 {
    font-size: 1.5rem;
  }
  .services .description .service-section .info p {
    font-size: 1.25rem;
  }
  .services .description .service-section .img-container {
    width: 100%;
  }
  .services .description .service-section .img-container img {
    margin: 0 auto;
    max-height: 50vw;
  }
}
.photos {
  font-family: sans-serif;
  background: #F1EADA;
  position: relative;
  margin-top: 4rem;
}
.photos #foot-triangle {
  width: 0;
  height: 0;
  border-left: 120vw solid transparent;
  border-bottom: 5rem solid #F1EADA;
  background: #b2402e;
  position: absolute;
  top: -4rem;
  right: 0;
}
.photos h3 {
  text-align: center;
  background: #F1EADA;
  color: #b2402e;
  font-size: 3rem;
  padding: 1rem;
}
.photos .gallery-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 0.5rem;
  padding-bottom: 1.5rem;
  max-width: 95%;
  margin-left: 1rem;
  margin-right: 1rem;
  background: #F1EADA;
}
.photos .gallery-mobile .cols {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-gap: 0.5rem;
  width: 90%;
}
.photos .gallery-mobile .cols img {
  box-shadow: #eae0c8 5px 5px 5px;
}
.photos .gallery-mobile .cols .row1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 0.5rem;
}
.photos .gallery-mobile .cols .row2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 0.5rem;
}
.photos .gallery-mobile .row3 {
  display: flex;
  align-items: center;
  width: 90%;
}
.photos .gallery-mobile .row3 #img-long {
  min-width: 100%;
}
.photos .gallery-desk {
  display: none;
}

@media screen and (min-width: 1050px) {
  .photos {
    /*grid-gap: 1rem;

        .cols{
            grid-gap: 1rem;

            .row1{
                grid-gap: 1rem;
                #big1square{
                    height: 1000px;
                    width: 100%;
                }
            }
            .row2{
                grid-gap: 1rem;
            }
        }
        .row3{
            width: 73.25%;
        }
    }*/
  }
  .photos .gallery-mobile {
    display: none;
  }
  .photos .gallery-desk {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 0.5rem;
  }
  .photos .gallery-desk .row0 {
    display: flex;
    grid-gap: 0.5rem;
  }
  .photos .gallery-desk .row2 {
    display: flex;
    grid-gap: 0.5rem;
  }
}
footer {
  font-family: sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 1rem;
  background-color: #F1EADA;
  color: #b2402e;
}
footer #foot-triangle {
  width: 0;
  height: 0;
  border-left: 100vw solid transparent;
  border-bottom: 4rem solid #F1EADA;
  background: #C64733;
  position: absolute;
  top: -2.5rem;
  left: 0;
}
footer h2 {
  margin: 10px 0 0;
  font-weight: bold;
}
footer ul {
  margin: 5px 0 5px;
}
footer img {
  width: 55px;
  margin: 10px 0 5px;
}
footer .image-credits {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1%;
  align-items: center;
}

.home {
  width: 100vw;
  height: calc(100vh - 4.5rem);
  display: grid;
  background-color: #f8f5ed;
}
.home .photo {
  width: 100vw;
  height: 100%;
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  align-items: flex-end;
}
.home .photo .img {
  margin-left: auto;
  width: 75vw;
  height: 85vh;
  overflow: hidden;
}
.home .photo .img img {
  width: 75vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .landing-text {
  grid-row: 1/2;
  grid-column: 1/2;
  padding: 15% 7.5%;
  padding-bottom: 0;
  color: #17292E;
}
.home .landing-text .main h1 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 3rem;
}
.home .landing-text .main h1 .underline {
  margin: 1% 0;
  display: none;
}
.home .landing-text .main p {
  display: none;
  font-size: 2rem;
  width: 50%;
  font-family: sans-serif;
  padding: 1% 2.5%;
}
.home .landing-text button {
  display: none;
  margin: 5%;
  width: 30%;
  font-size: 2rem;
  border-radius: 0.5rem;
  padding: 1% 0;
  font-family: sans-serif;
  font-weight: bold;
  color: #17292E;
  background-color: #F1EADA;
  transition: background-color 0.25s;
}
.home .landing-text button:hover {
  background-color: #C64733;
}
.home .hire-me {
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.home .hire-me .rectangle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 15%;
  background-color: #b2402e;
  display: flex;
  font-family: sans-serif;
}
.home .hire-me .rectangle::after {
  content: "";
  border-bottom: 2.5rem solid #b2402e;
  border-right: 100vw solid transparent;
  position: absolute;
  top: -2.5rem;
}
.home .hire-me .rectangle button {
  width: 70%;
  height: 50%;
  font-size: 2rem;
  font-weight: bold;
  color: #17292E;
  background-color: #F1EADA;
}

@media screen and (min-width: 765px) {
  .home .landing-text {
    padding: 7.5% 5%;
    padding-bottom: 0;
    color: #17292E;
  }
  .home .landing-text .main h1 {
    width: 50%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
  }
  .home .landing-text .main h1 .underline {
    display: block;
    height: 0.5rem;
    width: 45%;
    background-color: #ABA8A7;
  }
  .home .landing-text .main p {
    font-weight: bold;
    display: block;
  }
  .home .landing-text button {
    display: block;
  }
  .home .photo {
    width: 100vw;
    height: 100%;
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    align-items: flex-end;
  }
  .home .photo .img {
    height: calc(100vh - 4.5rem);
    width: 50vw;
    display: flex;
    align-items: flex-end;
  }
  .home .photo .img img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 80vh;
  }
  .home .hire-me .rectangle {
    height: 0;
  }
  .home .hire-me .rectangle::after {
    content: "";
    border-bottom: 5rem solid #b2402e;
    border-right: 100vw solid transparent;
    position: absolute;
    top: -5rem;
  }
  .home .hire-me .rectangle button {
    display: none;
    background-color: #F1EADA;
  }
}
.listContacts {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #F1EADA;
  display: relative;
}
.listContacts #contact-triangle {
  width: 0;
  height: 0;
  border-right: 100vw solid transparent;
  border-bottom: 3rem solid #C64733;
  background: #F1EADA;
}
.listContacts h3 {
  text-align: center;
  background: #C64733;
  font-size: 3rem;
  padding-top: 4rem;
}
.listContacts .contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
  background: #C64733;
}
.listContacts .contacts p {
  margin-top: 1.5rem;
  font-size: 1.25rem;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}
.listContacts .contacts li {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.25rem;
  margin-left: 5%;
  margin-right: 5%;
}
.listContacts .contacts #needTop {
  margin-top: 2rem;
}
.listContacts .contacts #needBottom {
  margin-bottom: 6.5rem;
}/*# sourceMappingURL=style.css.map */